<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StablX</title>
</head>
<body>
    <form action="/product" method="POST">
        <p>Enter your product names:</p>
        <textarea name="product" id="" cols="30" rows="10" placeholder="Enter product name"></textarea><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>